.grid-area {
  position: relative;
  width: 100%;
  height: calc(100vh - 50px); // メニューバーの高さを具体的な値に置き換えてください
  overflow: hidden;

  .shape-creation-container {
    position: absolute;
    left: 0;
    top: 0; // メニューバーの高さがある場合、ここにその値を追加してください
    width: 50%;
    height: 100%;
    overflow: auto;
  }
}
