/* RibbonMenu.scss */

/* Flex container styles */
.ribbon-menu {
  display: flex;
  gap: 3px; /* スペースをボタン間に追加 */
}

/* ボタンのスタイル */
button {
  color: #fff;
  background-color: transparent;
  border: none;
  padding: 5px 10px;
  transition: all 0.3s ease;

  &:hover {
    background-color: #e1e1e1;
    border-color: #0078d4;
    color: #000000;
  }

  &:active {
    background-color: #c1c1c1;
    border-color: #0078d4;
  }
}
