.ribbon {
  background-color: rgba(208, 208, 208, 0);
  height: 30px; // 高さを30pxに変更
  padding: 5px; // パディングを5pxに変更
  color: #fff;
  display: flex;
  flex-direction: row;

  button {
    color: #000; // 文字色を黒に変更
    background-color: #f1f1f1; // ボタンの背景色を明るく
    border: 1px solid #000; // 境界線を追加
    margin-right: 10px;
    padding: 5px 10px; // パディングを追加
    transition: all 0.3s ease; // トランジションを追加

    // ホバー時のスタイル
    &:hover {
      background-color: #e1e1e1;
      border-color: #0078d4;
      color: #000000;
    }

    // アクティブ時のスタイル
    &:active {
      background-color: #c1c1c1;
      border-color: #0078d4;
    }
  }
}
