.ribbon {
  background-color: #444; // Darker ribbon background
  height: 30px;
  padding: 5px;
  color: #fff;
  display: flex;
  flex-direction: row;

  button {
    color: #fff;
    background-color: #555;
    border: 1px solid #777;
    margin-right: 10px;
    padding: 5px 10px;
    transition: all 0.3s ease;

    &:hover {
      background-color: #444;
      border-color: #0078d4;
      color: #ffffff;
    }

    &:active {
      background-color: #333;
      border-color: #0078d4;
    }
  }
}