.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-container {
  background-color: #808080;
  height: 100vh;
  width: 100vw;
}

.canvas-and-sidebars {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

DrawingCanvas {
  flex-grow: 1;
}

