.custom-toolbar {
  display: flex; /* Make it a flex container */
  flex-direction: row; /* Arrange elements in a row */
  justify-content: flex-start; /* Align items to the start (left) */
  align-items: center; /* Center items vertically */
  background-color: #4f4f4f;
  padding: 10px;
  color: #fff;
  height: 50px;
}

.custom-toolbar button {
  /* Styles for the "Settings" button */
  color: #fff;
  background-color: transparent;
  border: none;
  margin-right: 10px;
  font-size: 14px;
  line-height: 1;
  display: flex;
  align-items: center;
}

  .toolbar {
    display: flex; /* Display the buttons in a flex container */
    flex-direction: row; /* Arrange the buttons in a single row */
    flex-wrap: nowrap; /* Prevent buttons from wrapping to the next line */
    gap: 5px; /* Add some gap between the buttons */
    align-items: center;
  }
  button {
    color: #fff;
    background-color: transparent;
    border: none;
    margin-right: 10px;
    font-size: 14px; /* Adjust font size as needed */
    line-height: 1; /* Set line height to 1 to remove extra spacing */
    display: flex;
    align-items: center; /* Center text vertically */

    &:hover {
      color: #4f4f4f;
      background-color: #fff;
    }
  }
  .custom-toolbar {
    display: flex;
    justify-content: flex-start;
    background-color: #4f4f4f;
    padding: 10px;
    color: #fff;
  }

  .custom-toolbar button {
    color: #fff;
    background-color: transparent;
    border: none;
    margin-right: 10px;
  }

  .custom-toolbar button:hover {
    color: #4f4f4f;
    background-color: #fff;
  }

  .draggable-item {
    cursor: grab;
  }


  .settings-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    width: 400px;
    z-index: 100;
    h2 {
      margin: 5px 10px;
      text-align: center;
      color: #000;
      padding: 10px;
    }
    h4 {
      text-align: center;
      margin-bottom: 10px;
    }

    .settings {
      justify-content: center;
      .list-section {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        padding: 10px;

        h4 {
          font-size: 1.2em;
          font-weight: bold;
          color: black;
          margin-top: 0;
        }


        .list {
          width: 40%;
          border: 1px solid #d0d0d0;
          border-radius: 5px;
          overflow: auto;
          max-height: 200px;
          background-color: #ffffff;
          margin: 5px 10px;
          li {
            margin-top: 2px;
            margin-bottom: 2px;
          }
          &::-webkit-scrollbar {
            width: 10px;
          }

          &::-webkit-scrollbar-track {
            background: #f1f1f1;
          }

          &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 5px;
          }

          &::-webkit-scrollbar-thumb:hover {
            background: #555;
          }
          h4 {
            margin-top: 0;
          }

          div {
            cursor: pointer;
            padding: 5px;
            border-bottom: 1px solid #d0d0d0;
            color: #000000;

            &:hover {
              background-color: rgba(208, 208, 208, 0);
              color: #ffffff;
            }
          }
        }

        .controls {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 10px;

          button {
            border: 2px solid black;
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
            color: black;
            background-color: gray;
            padding: 5px 10px;
            margin: 5px;
            width: 90px;

            &:hover {
              background-color: #000000;
              color: #ffffff;
            }

            &:active {
              background-color: #104a8d;
              color: #ffffff;
            }
          }
        }
      }

      .action-buttons {
        display: flex;
        justify-content: center;
        gap: 10px;

        button {
          border: 2px solid black;
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
          color: black;
          background-color: gray;
          padding: 5px 10px;
          margin: 5px;
          width: 90px;

          &:hover {
            background-color: #000000;
            color: #ffffff;
          }

          &:active {
            background-color: #104a8d;
            color: #ffffff;
          }
        }
      }
    }
  }
