.menu-bar {
  background-color: #4f4f4f;
  padding: 10px;
  color: #fff;

  button {
    color: #fff;
    background-color: transparent;
    border: none;
    margin: 0 10px;
  }
}

.tabs-container {
  display: flex;
  justify-content: start;
}
